body {
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(23, 34, 34);
}
.hidden {
  display: none;
}

#bgImage {
  border: 0;
  padding: 0;
  background-image: url(`img/${chosenImage}`);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
#clock {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 100px;
  font-weight: 600;
}
#todo-form {
  font-size: 25px;
  font-weight: bolder;
}
#todo-list {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
#quote {
  margin-top: 280px;
  font-weight: 600;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  left: 50px;
  bottom: 50px;
  padding: 10px;
}
.weather {
  justify-content: space-evenly;
  position: fixed;
  left: 25px;
  top: 25px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(20, 41, 41);
  border-radius: 5px;
  font-weight: 400;
}
button {
  border-radius: 30px;
  background-color: rgba(54, 135, 182, 0.4);
  padding: 0;
  margin-left: 15px;
}
