.hidden {
  display: none;
}

body {
  padding-top: 300px;
}

#bgImage {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  min-width: 1880px;
  max-height: 1400px;
  min-height: 1200px;
  z-index: -5;
  filter: brightness(45%);
}

#clock {
  text-align: center;
  color: white;
}

#login-form {
  text-align: center;
  color: white;
}

#greeting {
  text-align: center;
  color: white;
}

#todo-form {
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
}
#todo-list {
  text-align: center;
  color: white;
}

#weather {
  text-align: center;
}
#quote {
  text-align: center;
  position: fixed;
  bottom: 20px;
  margin-left: px;
  font-size: 0.8rem;
  font-weight: 200;
  color: rgba(231, 218, 218, 0.8);
}

#weather {
  position: fixed;
  top: 20px;
  right: 36px;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
}
